
<h1>These are the Students!</h1>
<% if signed_in? %>
  <h4><%= link_to "Is there a new student to add?", new_student_path, class: "waves-effect waves-light btn" %></h4>
<% end %>

<% @students.each do |student| %>
  <p> <%= link_to "#{student.id}", student %> | First name: <%= student.first_name %> | Last name: <%= student.last_name %>
    | Address <%= student.address %> | Age: <%= student.age %> </p>
<% end %>

<% content_for :pagination do %>
  <%= paginate @students %>
<% end %>
