
<h2> Here is the info for <%= @teacher.first_name %> <%= @teacher.last_name %>: </h2>

<h4><%= link_to "#{@teacher.id}", @teacher %> | First name: <%= @teacher.first_name %> | Last name: <%= @teacher.last_name %>
  | Address <%= @teacher.address %> | Age: <%= @teacher.age %></h4>
<%= link_to "Edit", edit_teacher_path(@teacher) %> <%= link_to "Delete", teacher_path(@teacher), method: :delete, data: { confirm: "Are you sure you want to delete this teacher?" } %>
